<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Bonus of {{title}}
        </li>
    </ol>
    <button color="primary" class="btn-download btn btn-primary add-bonus" (click)="addWorkerBonus()">Add new bonus</button>
    <button class="btn-download btn btn-back" (click)="back()">back to workers</button>
</nav>
<mat-card class="trinta-card to-do-list-card mb-25 bg-white border-none d-block">
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
            </div>
        </div>
    </mat-card-content>
</mat-card>
