<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Entity informations</li>
    </ol>
</nav>
<mat-card class="trinta-card mb-25 bg-white border-none d-block">
    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="user"></i-feather>
                        <mat-label>Entity name</mat-label>
                        <input matInput value="{{completeEntity?.entity?.name}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="code"></i-feather>
                        <mat-label>Entity type</mat-label>
                        <input matInput value="{{completeEntity?.entityType?.name}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="mail"></i-feather>
                        <mat-label>Email address</mat-label>
                        <input matInput value="{{completeEntity?.entity?.email}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="phone"></i-feather>
                        <mat-label>Phone</mat-label>
                        <input matInput value="{{completeEntity?.entity?.mobile}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="map-pin"></i-feather>
                        <mat-label>Address</mat-label>
                        <input matInput value="{{completeEntity?.entity?.address}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="map"></i-feather>
                        <mat-label>City</mat-label>
                        <input matInput value="{{completeEntity?.city?.name}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="user"></i-feather>
                        <mat-label>Head of entity</mat-label>
                        <input matInput value="{{completeEntity?.entity?.headOfEntity}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <i-feather name="phone"></i-feather>
                        <mat-label>Head of entity phone</mat-label>
                        <input matInput value="{{completeEntity?.entity?.headOfEntityMobile}}" readonly>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field class="textarea">
                        <i-feather name="file-text"></i-feather>
                        <mat-label>Note</mat-label>
                        <textarea matInput readonly>If you want change one of this values, you can write email to info@waman.app</textarea>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </mat-card-content>
</mat-card>
