<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo-icon.png" alt="logo-icon" width="33px">
            <span>
                District Operations LTD
            </span>
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion [hidden]="!isEntity">
                    <span class="sub-title text-body">
                        MAIN
                    </span>
                    <a routerLink="/info" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="Home"></i-feather>
                        <span class="title">
                            Entity informations
                        </span>
                    </a>
                    <a routerLink="/locations" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="home"></i-feather>
                        <span class="title">
                            Locations
                        </span>
                    </a>
                    <a routerLink="/entity-disciplinary-report" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="List"></i-feather>
                        <span class="title">
                            Disciplinary reports
                        </span>
                    </a>
                    <a routerLink="/entity-incident-accident-report" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="Minimize"></i-feather>
                        <span class="title">
                            Incident/accident reports
                        </span>
                    </a>
                    <a routerLink="/workers" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="users"></i-feather>
                        <span class="title">
                            Workers
                        </span>
                    </a>

                    <a class="sidebar-menu-link" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
                <mat-accordion [hidden]="!isLocation">
                    <span class="sub-title text-body">
                        MAIN
                    </span>
                    <a routerLink="/info-location" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="Home"></i-feather>
                        <span class="title">
                            Location informations
                        </span>
                    </a>
                    <a routerLink="/plannings" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="Layers"></i-feather>
                        <span class="title">
                            Plannings
                        </span>
                    </a>
                    <a routerLink="/index" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i-feather name="users"></i-feather>
                        <span class="title">
                            Workers
                        </span>
                    </a>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="List"></i-feather>
                                <span class="title">
                                    Disciplinary reports
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/worker-disciplinary-reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    View all
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/worker-disciplinary-reports/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Add new
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="Minimize"></i-feather>
                                <span class="title">
                                    Incident/accident reports
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/worker-incident-accident-reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    View all
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/worker-incident-accident-reports/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Add new
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                    <a class="sidebar-menu-link" (click)="logout()" href="#">
                        <i-feather name="Lock"></i-feather>
                        <span class="title">Logout</span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>